body {
    align-content: center;
    align-items: center;
    scroll-margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(200deg,#caeaf6,#1460c8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 100;
}

#box {
    box-shadow: 1px 0 30px rgba(47, 20, 97, 0.2);
}

#first-upload-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    opacity: 0.9;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2em 1.5em;
    z-index: 3;
}